.header {
  font-size: 32px;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  color: black;
  text-decoration: none;
}

.loginButton {
  /* width: 100px; */
  /* border-radius: 5px; */
  /* padding: 8px; */
  display: block;
  color: theme.palette.secondary.main;
}
